<template>
  <require from="./nav-bar"></require>
  
  <div mdl="layout" class="mdl-layout--fixed-header">
    <nav-bar router.bind="router" containerless></nav-bar>
    <main class="mdl-layout__content" style="display:flex;flex-flow:column;height:100%">
      <router-view containerless></router-view>
    </main>
  </div>
</template>
