<template>
  <section>
    <div mdl="layout" class="mdl-layout--fixed-drawer">
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">${heading}</span>
        <nav class="mdl-navigation">
          <a repeat.for="row of router.navigation" class="mdl-navigation__link" href.bind="row.href" class="${row.isActive?'active':''}">${row.title}</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <router-view></router-view>
        </div>
      </main>
    </div>
  </section>
</template>
