<template bindable="router">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">${router.title}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" repeat.for="row of router.navigation" href.bind="row.href">${row.title}</a>
      </nav>
    </div>

  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">${router.title}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" repeat.for="row of router.navigation" href.bind="row.href" click.delegate="toggleMenu()">${row.title}</a>
    </nav>
  </div>
</template>
