<template>
  <require from="./blur-image"></require>
  <section class="au-animate">
    <h2>${heading}</h2>
    <div mdl="grid" class="au-stagger">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone card-container" repeat.for="user of users">
          <div mdl="card" class="card mdl-shadow--2dp">
              <div class="mdl-card__title" style="padding:0px">
                <canvas class="header-bg" width="250" height="70" blur-image.bind="image"></canvas>
                <div class="avatar">
                  <img src.bind="user.avatar_url" crossorigin ref="image"/>
                </div>
              </div>
              <div class="mdl-card__supporting-text">
                ${user.login}
              </div>
              <div class="mdl-card__actions">
                <a mdl="button" style="background-color:white;color:black" href.bind="user.html_url">Contact</a>
              </div>
          </div>
      </div>
    </div>
  </section>
</template>
