<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <form role="form" submit.delegate="submit()">
      <div>
        <div mdl="textfield" class="mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="fn" value.bind="firstName" />
          <label class="mdl-textfield__label" for="fn">First Name</label>
        </div>
      </div>
      <div>
        <div mdl="textfield" class="mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="ln" value.bind="lastName" />
          <label class="mdl-textfield__label" for="ln">Last Name</label>
        </div>
      </div>
      <div>
        <label>Full Name</label>
        <p><b>${fullName | upper}</b></p>
      </div>
      <button type="submit" mdl="button" class="mdl-button--colored mdl-js-ripple-effect">Submit</button>
    </form>
  </section>
</template>
